/* Set Base Link Color */
a{
color: #000000;
}

/* Set Link Color for Visited Links */
a:visited{
color: #FFC20F;
}

.posttitlepre a{
color: #000000;
}

/* Set Link Color on Mouse Over */
a:hover {
color: #000000;
text-decoration: underline;
}

.posttitlepre a:hover {
color: #000000;
text-decoration: underline;
}
