:root {
    --background_main: #ffffff;
    --background_secondary: #F5B400;
    --background_mono: #2d2926;
    --theme: #ffc629;
    --accent: #2962FF;
    --water_one: #4685ff;
    --water_two: #002c83;
    --water_three: #0059ff;
    --header: #2d2926;
    --text: #000000;
    --text_inverted: #ffffff;
}

body {
    margin: 0;
    padding: 0;
}

section {
    padding: 2rem 0;
}

header, body, footer {
    background: var(--background_mono);
}

h1, h2, button, h3, label {
    color: var(--theme);
}

p, a, ul, li {
    color: var(--text);
}

nav {
    display: flex;
    align-items: center;
    gap: 1rem;
    background: var(--background_secondary);
    padding: 1rem;
}

nav a {
    position: relative;
    font-weight: bold;
    color: var(--text);
    text-decoration: none;
    background: var(--background_secondary);
}

nav a:before {
    position: absolute;
    bottom: 0;
    left: 50%;
    content: "";
    width: 0;
    height: 2px;
    background: var(--text);
    transition: .5s;
}

nav a:after {
    position: absolute;
    bottom: 0;
    right: 50%;
    content: "";
    width: 0;
    height: 2px;
    background: var(--text);
    transition: .5s;
}

nav a:hover::before, nav a:hover::after {
    width: 50%;
}

button {
    cursor: pointer;
    background: var(--background_mono);
    border: none;
    font-weight: bold;
    padding: .5rem 1rem;
    border-radius: 5px;
    transition: .3s;
}

button:hover {
    color: var(--theme);
}

input {
    margin: 1rem .5rem;
    border-radius: .5rem;
    padding: .5rem;
}

::-webkit-scrollbar {
    width: .5rem;
}

::-webkit-scrollbar-track {
    background: var(--background_main);
}

::-webkit-scrollbar-thumb {
    background: var(--header);
    border-radius: 1rem;
}

svg {
    width: 1.5rem;
    height: 1.5rem;
}
svg path {
    fill: var(--theme);
}