@import "main.css";

/*CSS page for index.html*/

body {
    position: relative;
    background: var(--mono_back);
    min-height: 100vh;
}

section {
    margin: 8rem;
    background: var(--theme_visible);
    padding: 2rem 4rem 2rem 4rem;
}

.section_separator {
    width: 5rem;
    position: relative;
    aspect-ratio: 1;
}

/*Cross in sections with a hover effect*/

/*.vertical {*/
/*    position: absolute;*/
/*    top: 50%;*/
/*    left: 0;*/
/*    content: "";*/
/*    width: 100%;*/
/*    height: 2px;*/
/*    background: var(--mono_back);*/
/*    transition: .4s;*/
/*}*/

/*.horizontal {*/
/*    position: absolute;*/
/*    top: 50%;*/
/*    left: 0;*/
/*    content: "";*/
/*    width: 100%;*/
/*    height: 2px;*/
/*    background: var(--mono_back);*/
/*    transition: .4s;*/
/*}*/

/*section:hover > .section_separator .vertical {*/
/*    rotate: 45deg;*/
/*}*/

/*section:hover > .section_separator .horizontal {*/
/*    rotate: -45deg;*/
/*}*/

main {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;

}

.right_texted {
    position: absolute;
    top: -1%;
    right: -100%;
    width: 40%;
    height: 102%;
    background-color: var(--mono_back);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 30% 100%);
    transition: .7s;
}

.left_texted {
    position: absolute;
    top: -1%;
    left: -100%;
    width: 40%;
    height: 102%;
    background-color: var(--mono_back);
    clip-path: polygon(0 0, 100% 0, 70% 100%, 0% 100%);
    transition: .7s;
}

.spotlight_info h1, .spotlight_info p, .spotlight_info button {
    transition: .5s;
}

.row:hover > .spotlight_info h1 {
    color: var(--theme);
}

.row:hover > .spotlight_info p {
    color: var(--text_inverted);
}

.row:hover > .spotlight_info button {
    background-color: var(--text_inverted);
    color: var(--text);
}

.row:hover > .right_texted {
    right: -1%;
}

.row:hover > .left_texted {
    left: -1%;
}

.spotlight_info {
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: +1;
}

.spotlight_info h1 {
    color: var(--text);
    margin: 0;
}

.spotlight_title {
    font-size: 2rem;
}

.spotlight_image {
    width: 25%;
    max-height: 20rem;
}

.spotlight_image {
    background: black;
    border-radius: 1rem;
}

#spotlight_one, #spotlight_two, #spotlight_three {
    width: 100%;
    border-radius: 1rem;
}

#vid_wrapper {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#ex_vid {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#vid_text {
    position: absolute;
    right: 1rem;
    bottom: 0;
    text-shadow: var(--background_mono) 2px 2px;
}

.underwater_bubble {
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    width: 5rem;
    aspect-ratio: 1;
    background: var(--theme);
    border: solid 2px var(--background_main);
    border-radius: 5rem;
    transition: .5s;
    z-index: -1;
}