@import 'base.css';

.hero {
    position: relative;
    aspect-ratio: 3/1;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.flex-spacer {
    flex-grow: 1;
}

.half_spacer {
    flex-grow: .25;
}

.row {
    width: 60%;
    aspect-ratio: 4/1;
    resize: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 2rem;
    transition: .4s;
}

.column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.button_row {
    border-top:  solid 1px var(--background_mono);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 1rem;
}

.radio_row {
    display: flex;
    align-items: center;
}

.text_centered {
    text-align: center;
}

.underlined {
    text-decoration: solid underline 2px var(--theme);
    text-underline-offset: 4px;
}

#dialog_shroud {
    display: block;
    width: 100%;
    height: 100%;
    background: var(--background_mono);
    opacity: .7 ;
    position: fixed;
    top: 0;
    left: 0;

}

.search {
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search_button {
    height: 2rem;
    aspect-ratio: 1;
    border-radius: 100%;
    padding: 0;
}

.search_button:hover {
    animation: search_hover 300ms alternate 3;
}

.copy-text {
    position: relative;
    cursor: pointer;
    overflow: hidden;
}

.copied-animation {
    animation: copied 400ms ease;
}

/*.copy-text:hover {*/
/*    animation: copied linear 400ms;*/
/*}*/

@keyframes search_hover {
    0% {rotate: 15deg}
    100% {rotate: 0}
}

@keyframes copied {
    0% {background-color: var(--accent)}
    100% {background-color: var(--mono_back)}
}